{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home-style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</head>

<body>

<div class="header">
    <h1 class="header">Customer Management</h1>
    <div class="top-right">
        <a href="{% url 'change_password' %}" id="change-password-btn">Change Password</a>
        <a href="{% url 'logout' %}" id="logout">Logout</a>
    </div>
</div>


<div class="button-row">
    <button type="button" id="add-customer-btn">Add customer</button>
    <button type="button" id="remove-customer-btn">Remove customer</button>
    <button type="button" id="edit-customer-btn">Edit customer</button>
    <button type="button" id="search-customer-btn">Search customer</button>
</div>

<div class="customers">
    <h1>User List</h1>
    <table id="customerTable" class="display">
        <thead>
            <tr>
                <th>Select</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID Number</th>
                <th>Phone Number</th>
                <th>City</th>
                <th>Email</th>
                <th>Package</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><input type="checkbox" class="select-row" data-id="{{ customer.id_number }}"></td>
                <!-- Vulnerable XSS reflection -->
                <td>{{ customer.first_name|safe }}</td>
                <td>{{ customer.last_name|safe }}</td>
                <td>{{ customer.id_number|safe }}</td>
                <td>{{ customer.phone_number|safe }}</td>
                <td>{{ customer.city|safe }}</td>
                <td>{{ customer.email|safe }}</td>
                <td>{{ customer.package|safe }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8">No customers available.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




<!-- Overlay -->
<div id="popup-overlay"></div>

<div id="add-customer" class="popup-form">
    <form id="add-customer-form" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="id_number">ID Number:</label>
        <input type="text" id="id_number" name="id_number" required>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="city">City:</label>
        <select id="city" name="city" required>
            <option value="">Select a city</option>
            <option value="New York">New York</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Chicago">Chicago</option>
        </select>

        <label for="email">Email (Optional):</label>
        <input type="email" id="email" name="email">

        <label for="internet_package">Internet Package:</label>
        <select id="internet_package" name="internet_package" required>
            <option value="">Select a package</option>
            <option value="Basic">Basic</option>
            <option value="Premium">Premium</option>
            <option value="Ultimate">Ultimate</option>
        </select>
        <div class="buttons">
            <button type="submit" name="action" value="add-customer">Submit</button>
            <button type="button" id="cancel-add-btn">Cancel</button>
        </div>
    </form>
</div>

<div id="remove-customer" class="popup-form">
    <form id="remove-customer-form" method="POST">
        {% csrf_token %}
        <label>Are you sure want to delete the following user?:</label>

        <div class="buttons">
            <button type="submit" name="action" value="remove-customer">Yes</button>
            <button type="button" id="cancel-remove-btn">No</button>
        </div>
    </form>
</div>

<div id="edit-customer" class="popup-form">
    <form id="edit-customer-form" method="POST">
        {% csrf_token %}
        <label>need to develop this section</label>

        <div class="buttons">
            <button type="submit" name="action" value="edit-customer">Yes</button>
            <button type="button" id="cancel-edit-btn">No</button>
        </div>
    </form>
</div>

<div id="search-customer" class="popup-form">
    <form id="search-customer-form" method="POST">
        {% csrf_token %}
        <label>need to develop this section</label>

        <div class="buttons">
            <button type="submit" name="action" value="search-customer">Yes</button>
            <button type="button" id="cancel-search-btn">No</button>
        </div>
    </form>
</div>

<script>
    // Get references to elements


    const popupOverlay = document.getElementById('popup-overlay');


    const addCustomerForm = document.getElementById('add-customer');
    const addCustomerBtn = document.getElementById('add-customer-btn');
    const closeAddBtn = document.getElementById('cancel-add-btn');
    // Show the form when the button is clicked
    addCustomerBtn.addEventListener('click', function () {
        addCustomerForm.style.display = 'block';
        popupOverlay.style.display = 'block';
    });

    // Close the form when the close button is clicked
    closeAddBtn.addEventListener('click', function () {
        addCustomerForm.style.display = 'none';
        popupOverlay.style.display = 'none';
    });

    const removeCustomerForm = document.getElementById('remove-customer');
    const removeCustomerBtn = document.getElementById('remove-customer-btn');
    const closeRemoveBtn = document.getElementById('cancel-remove-btn');
    // Show the form when the button is clicked
    removeCustomerBtn.addEventListener('click', function () {
        removeCustomerForm.style.display = 'block';
        popupOverlay.style.display = 'block';
    });

    // Close the form when the close button is clicked
    closeRemoveBtn.addEventListener('click', function () {
        removeCustomerForm.style.display = 'none';
        popupOverlay.style.display = 'none';
    });

    const editCustomerForm = document.getElementById('edit-customer');
    const editCustomerBtn = document.getElementById('edit-customer-btn');
    const closeEditBtn = document.getElementById('cancel-edit-btn');
    // Show the form when the button is clicked
    editCustomerBtn.addEventListener('click', function () {
        editCustomerForm.style.display = 'block';
        popupOverlay.style.display = 'block';
    });

    // Close the form when the close button is clicked
    closeEditBtn.addEventListener('click', function () {
        editCustomerForm.style.display = 'none';
        popupOverlay.style.display = 'none';
    });


    const searchCustomerForm = document.getElementById('search-customer');
    const searchCustomerBtn = document.getElementById('search-customer-btn');
    const closeSearchBtn = document.getElementById('cancel-search-btn');
    // Show the form when the button is clicked
    searchCustomerBtn.addEventListener('click', function () {
        searchCustomerForm.style.display = 'block';
        popupOverlay.style.display = 'block';
    });

    // Close the form when the close button is clicked
    closeSearchBtn.addEventListener('click', function () {
        searchCustomerForm.style.display = 'none';
        popupOverlay.style.display = 'none';
    });
</script>

<script>
    $(document).ready(function() {
        $('#customerTable').DataTable();

        // Add functionality to handle row selection
        $('#customerTable tbody').on('click', 'tr', function() {
            $(this).toggleClass('selected');
            var customerId = $(this).find('.select-row').data('id');
            console.log('Selected Customer ID: ' + customerId);
        });
    });
</script>


</body>
</html>
