{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Token Verification</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="form-container">
        <h2>Verify Your Token</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="token">Enter your token:</label>
            <input type="text" id="token" name="token" required>

            <button type="submit">Login</button>

            {% if error %}
                <div style="color:red;">{{ error }}</div>
            {% endif %}

            {% if success %}
                <div>Logged in successfully. When the main paged will be finished this will send you to it.</div>
            {% endif %}

        </form>
         <p>Resend Token <a href="{% url 'forgot_password' %}">Reset it here</a></p>
    </div>
</body>
</html>
